<form action="/" method="post">
  <!--implement the object-related form for an album	-->
  <form>
  <label for="album">Please add a new album :</label>
   <input name="album[artist]" type="text" placeholder="Artist"/>
   <input name="album[name]" type="text" placeholder="Album name"/>
   <input name="album[year]" type="text" placeholder="Album year"/>
   <input type="submit" value="Add">
</form>
<br>
<br>

<a href=/>Back to jukebox list</a>
