header {
 border-bottom: 1px dotted grey;
 padding: 10px ;
}
a:hover {
    color:green;
}
}
.container {
 margin: 0 auto;  
 width: 720px;
 font-family: 'Frijole'; 
}
.container h1{
 background-color: red;
 margin-left:auto;
 margin-right:auto;
 width: 80%;
}
div#centernavbar {
 width: 50%; 
 margin-left:auto;
 margin-right:auto;   
 }
ul.centerul {
 margin: 2px auto;
 line-height: 1.6;
 }
.centerul li {
 display: inline;
 text-align: center;
 padding: 8px;
  }
footer {
 border-top: 1px dotted grey;
 padding: 20px ;
}